version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "dev"
    # Labels on pull requests for version updates only
    labels:
      - "go mod dependencies"